.bg-intestazione {
    background-image: url(../img/pattern.png);
    background-size: contain;
}

#dimensione-logo {
    width: 20%;
    height: 20%;
}

#stile-titolo {
    font-size:40px;
    margin-bottom: 0%;
    margin-top: 10px;

}

#colore-autore{
    color: cornflowerblue;
}

.stile-autore-data {
    color: grey;
    font-size: large;
}

.margine-img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#fontsize-didascalie {
    font-size: smaller;
}

.frase-evidenziata {
    background-color: yellow;
}

.margine-lista {
    margin-top: 30px;
    margin-bottom: 30px;
}


#dimensioni-tabella {
    width: 100%;
    border-spacing: 0px;
    
}

.allineamento-colonne {
    text-align: left;
    width: 50px;
   
    
    
}

.colore-riga-testo {
    background-color: slateblue;
    color: white;
}

.colore-riga-alternativo {
    background-color: turquoise;
}

.frase-suggerimento {

font-size: medium;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: violet;

}

#img-grafico {
    background-image: url(../img/graph.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
}

.frase-pubblicità {
    color: white;
    
}

#img-computer {
    background-image: url(../img/monitor.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    margin-top: 20px;
}